<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{-28,131.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>face_gps.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,50},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>face_gps0.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,50},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>jiaolong.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,26},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
            <key>liaolong.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,2},{41,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,22}}</string>
                <key>sourceSize</key>
                <string>{41,22}</string>
            </dict>
            <key>pai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,946},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,946},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,887},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,887},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,828},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,828},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,800},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,800},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,800},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,769},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,769},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,710},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,710},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,651},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,651},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,592},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,592},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,534},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,534},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,534},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,533},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,533},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,474},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,474},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,415},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,415},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pai_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,356},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,356},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,297},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,297},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,268},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,268},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,268},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,238},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,238},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,179},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,179},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,120},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,120},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,61},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,61},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,533},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,533},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,474},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,474},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,415},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
            <key>pic_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,415},{57,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,264}}</string>
                <key>sourceSize</key>
                <string>{57,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changpaiCardRes.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aab8f5b335e826e3545f274857303029$</string>
            <key>textureFileName</key>
            <string>changpaiCardRes.png</string>
        </dict>
    </dict>
</plist>
